APP_NAME=tmdet

PDB_DATA_ROOT="/home/data/wwPDB"
PDB_STATUS_DIR="${PDB_DATA_ROOT}/status"
PDB_DATA_DIR="${PDB_DATA_ROOT}/data"
PDB_ENT_DIR="${PDB_DATA_DIR}/structures/divided/pdb"
PDB_CIF_DIR="${PDB_DATA_DIR}/structures/divided/updated_mmcif"

TMDET_DATA_ROOT="/tmp/TmDet/data"
TMDET_CC_DIR="${TMDET_DATA_ROOT}/ccd"
TMDET_CC_FILE="${TMDET_CC_DIR}/components.cif.gz"
TMDET_CC_URL="https://files.wwpdb.org/pub/pdb/data/monomers/components.cif.gz"

UNITMP_SCHEMA="https://"
UNITMP_DOMAIN="unitmp.org"

TMDET_MIN_MEMBRANE_WIDTH=10.0
TMDET_MAX_MEMBRANE_WIDTH=18.0
TMDET_OPTIM_BALL_DIST=0.15