.molstar-viewer {
    position: relative;
    left: auto;
    right: auto;
    top: 10px;
    width: 100% !important;
    min-height: 400px !important;
    border: 1px solid #ccc;
    padding-bottom: 5rem;
}
.molstar-viewer canvas {
    width: 100% !important;
    min-height: 100% !important;
}
.title {
    background: lightseagreen;
    color: white;
    font-family: monospace;
    font-weight: bold;
    padding: 5px;
}
